* {
  user-select: none;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
#current {
  margin: 16px 24px;

  .current__maincontent {
    position: relative;
    width: 250px;
    height: 250px;
    left: 50%;
    transform: translateX(-50%);
  }
  .current__card {
    cursor: pointer;
    user-select: none;
    position: absolute;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
  }
  .current__card.active{
    transform: rotateY(180deg);
  }
  main {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    margin: 0 auto;
    border: 3px solid var(--current);
    padding: 8px 11px;
    margin-top: 8px;
    backface-visibility: hidden;
    p , div{ 
      
    }
    p::selection {
      user-select: none;
      color: transparent;
    }
  }
  .current__card__back {
    transform: rotateY(180deg);
    text-align: center;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    p { 
      user-select: none;
      -webkit-touch-callout:none;
      -webkit-user-select:none;
      -khtml-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none;
      -webkit-tap-highlight-color:rgba(0,0,0,0);
    }
  }

  .top {
    display: flex;
    justify-content: space-between;

  }
  
  
  
  .clock-dial {
    bottom: -30px;
    scale: 150%;
    padding: 0.2em;
    width: 127px;
    height: 127px;
    border: 2px solid var(--current);
    border-radius: 50%;
    margin: 15px auto;
    position: relative;
  }
  .point {
    width: 10px;
    height: 10px;
    background-color: var(--current);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .hour {
    font-size: 0.8em;
    position:absolute;
  }
  .hour-12 {
    left: 50%;
    transform: translateX(-50%);
  }
  .hour-6 {
    left: 50%;
    bottom: 0.2em;
    transform: translateX(-50%);
  }
  .hour-3 {
    top: 50%;
    right: 0.2em;
    transform: translateY(-50%);
  }
  .hour-9 {
    top: 50%;
    transform: translateY(-50%);
  }
  .minut-hand-wrapper {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 17px;
    left: 17px;
    border-radius: 50%;
  }
  .minut-hand {
    position: relative;
  }
  .minut-hand .hand {
    position: absolute;
    width: 2px;
    height: 45px;
    background-color: var(--black);
    left: 50%;
    transform: translateX(-50%);
  }
  .minut-hand .arrow {
    font-size: 12px;
    font-weight: lighter;
    color: var(--black);
    transform: rotate(180deg);
    position: absolute;
    left: 45%;
    top: -3px;
  }

  .hour-hand-wrapper {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 32px;
    left: 32px;
    border-radius: 50%;
  }
  .hour-hand {
    position: relative;
  }
  .hour-hand .hand {
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: var(--black);
    left: 50%;
    transform: translateX(-50%);
  }
  .hour-hand .arrow {
    font-size: 12px;
    font-weight: lighter;
    color: var(--black);
    transform: rotate(180deg);
    position: absolute;
    left: 44%;
    top: -3px;
  }
  .second-hand-wrapper {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 17px;
    left: 17px;
    border-radius: 50%;
  }
  .second-hand {
    position: relative;
  }
  .second-hand .hand {
    position: absolute;
    width: 1px;
    height: 45px;
    background-color: var(--black);
    left: 50%;
    transform: translateX(-50%);
  }
  

  .watch {
    display: flex;
    justify-content: center;
  }
  .watch input {
    border: none;
    user-select: none;
    cursor: pointer;
    width: 18px;
    
  }
}
